*
{
	margin: 0;
}
.hidden_data
{
	display:none;
}
body,html
{
	height: 100%;
	position: relative;
}

#checkpoint-id-holder
{
	display: none;
}

footer
{
	line-height: 30px;
	text-align: center;
	height: 4%;
	background: grey;
	width: 100%;
	position: absolute;
	bottom: 0;
}

#left-wrapper
{
	position: relative;
	left: 0;
	display: inline-block;
	/*background: red;*/
	width: 80%;
	height: 100%;
}

#right-wrapper
{
	border-left: 2px dashed white;
	right: 0;
	height: 100%;
	position: absolute;
	display: inline-block;
	background: #333;
	color:white;
	width: 20%;
}

#log-terminal-heading {
	width: 100%;
	background:black;
	text-align: center;
	position: absolute;
}

#log-terminal {
	padding-top: 20px;
	overflow: auto;
	height: 85%;
}

section
{
	padding: 10px;
}

#right-wrapper header
{
	padding: 10px;
	text-align: center;
}

header
{
	font-family: arial;
	font-size: 17px;
	background: #225;
	color: white;
}
#right-wrapper start-time-display
{
	background:#333;
}
#log-terminal li::before
{
	font-weight:bold;
	content:'>  ';
}
#log-terminal li
{
	list-style:none;
	padding-top:20px;
}
#log-terminal h3
{
	text-align: center;
}
#start-race-page
{
	padding-left:20px;
	height:82%;
	overflow:auto;
	/*display: none;*/
}
#start-page-heading
{
	margin-top: 22%;
	text-align: center;
}
#force-start-button
{
	margin-left: 43%;
	margin-top: 20px;
	height: 70px;
	width: 200px;
}
#racers-buttons-grid
{
	padding-left:20px;
	height:82%;
	overflow:auto;
	display: none;
}
#print-page
{
	padding-left:20px;
	height:82%;
	overflow:auto;
	display:none;
}
#racers-buttons-grid button
{
	margin-right:10px;
	margin-bottom:10px;
	height:30px;
	width:100px;
	
}
#command-line
{
	text-align: center;
	width: 100%;
	background: #225;
	position: absolute;
	bottom: 4%;
}

#command-line *
{
	padding: 5px 10px;
}